rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function admin() { return request.auth != null && 'admin' in request.auth.token && request.auth.token.admin == true; }
    match /drafts/{id} { allow read, write: if admin(); }
    match /{document=**} { allow read: if admin(); allow write: if false; }
  }
}
